RTCP packet interval is not compliant with RFC 3550

[RFC 3550 § 6.2](https://datatracker.ietf.org/doc/html/rfc3550#section-6.2) describes an algorithm to determine the period between RTCP packets. Right now, gortsplib uses a constant interval of 10 seconds ([defined here](https://github.com/bluenviron/gortsplib/blob/9cee396d33e5c76467b2861d800c41afe62684ee/server.go#L215)), which is not compliant.

More specifically:
> For unicast sessions, the reduced value MAY be used by participants
> that are not active data senders as well, and the delay
> before sending the initial compound RTCP packet MAY be zero.

And [RFC 6051](https://datatracker.ietf.org/doc/html/rfc6051#autoid-4) (proposed standard) adds:
> For unicast multimedia or layered sessions, senders SHOULD transmit
   an initial compound RTCP packet [...] immediately on joining each RTP
   session in the multimedia session.

For example, libavformat (ffmpeg) [follows this](https://github.com/FFmpeg/FFmpeg/blob/d5ae10e6d4b6f2922c45b7f391a8e4ca45c82a59/libavformat/rtpenc.c#L560) and sends an RTCP packet as soon as the connection starts.
gortsplib only sends the first packet after 10 seconds (see [here](https://github.com/bluenviron/gortsplib/blob/e63876e33be967e0a3cf69dd37e70983c205fe8f/pkg/rtpsender/sender.go#L59)).

For my use case, NTP synchronization (from Sender Reports) is critical, so the stream is practically unusable for the first 10 seconds. Implementing the full interval algorithm could be complicated but just sending the first packet when starting the timer should be simple.

I have never written go, but if you agree that the fix (just for the initial packet) should be very simple I could open a PR.

fixed by https://github.com/bluenviron/gortsplib/pull/1111